* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.line {
	margin-top: 0.4cm;
	margin-bottom: 0.4cm;
}

.linetop {
	margin-bottom: 0.4cm;
}

.linebottom {
	margin-top: 0.4cm;
}

.titletext {
	font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica;
	font-size: 15pt;
	font-weight: 400;
	text-align: justify;
}

.regulartext {
	font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica;
	font-weight: lighter;
	font-size: 11pt;
	text-align: justify;
}

.textnexttoimage {
	margin-left: 0.2cm;
	font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica;
	font-weight: lighter;
	font-size: 11pt;
	text-align: justify;
}

#header {
	display: none;
}

#languages {
	display: none;
}

#print {
	display: none;
}

#document {
	top: 40px;
	width: 21cm;
	height: 29.7cm;
	margin-left: auto;
	margin-right: auto;
	padding: 2cm;
	background: white;
}

#imageandtext {
	display: flex;
}

#profileimage {
	width: 3.5cm;
	height: auto;
}

#footer {
	display: none;
}